

.split {
	display: block;
}

.split > div:first-child {
	margin-left: 0px;
}

.split > div.size4:nth-child(3n+1) {
	margin-left: 0px;
	clear: both;
}

.split > div.size4:nth-child(1n+4) {
	margin-top: 2.2%;
}

.split > div.size6:nth-child(2n+1) {
	margin-left: 0px;
	clear: both;
}

.split > div.size6:nth-child(1n+3) {
	margin-top: 2.2%;
}

.split > div {
	display: block;
	float: left;
	margin-left: 2.127659574468085%;
}

.split:after {
	display: block;
	content: '';
	clear: both;
}

.split .size12{width:100%;*width:99.94680851063829%;}
.split .size11{width:91.48936170212765%;*width:91.43617021276594%;}
.split .size10{width:82.97872340425532%;*width:82.92553191489361%;}
.split .size9{width:74.46808510638297%;*width:74.41489361702126%;}
.split .size8{width:65.95744680851064%;*width:65.90425531914893%;}
.split .size7{width:57.44680851063829%;*width:57.39361702127659%;}
.split .size6{width:48.93617021276595%;*width:48.88297872340425%;}
.split .size5{width:40.42553191489362%;*width:40.37234042553192%;}
.split .size4{width:31.914893617021278%;*width:31.861702127659576%;}
.split .size3{width:23.404255319148934%;*width:23.351063829787233%;}
.split .size2{width:14.893617021276595%;*width:14.840425531914894%;}
.split .size1{width:6.382978723404255%;*width:6.329787234042553%;}


h2 {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 25px;
	margin-bottom: 15px;
}

h3 {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 22px;
	margin-bottom: 15px;
}

blockquote {
	display: block;
	padding-left: 55px;
	background: url(../images/icon-quote.png) no-repeat 0px 10px;
	line-height: 1.5;
}

.panel-block blockquote {
	min-height: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 19px;
	background-position: 0px 6px;
	font-family: 'Fauna One', serif;
}

p {
	line-height: 1.5;
	margin-bottom: 15px;
}

.quote-action {
	display: block;
}

.quote-action > blockquote {
	display: block;
	width: 65%;
}

.quote-action > a {
	float: right;
	margin-top: 10px;
}

.s-button {
	display: inline-block;
	background-image: url(../images/button-smudge-white.png);
	background-repeat: repeat;
	background-position: left top;
	background-color: #5d4d43;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	padding: 8px 15px;
	border: 0px;
	font-size: 12px;
	text-decoration: none;
	margin-right: 5px;
	text-shadow: none;
}

.s-button:active,
.s-button:hover {
	box-shadow: inset 0 100px 0 rgba(255,255,255,0.1);
	text-decoration: none;
	color: #fff;
}

.s-big-button {
	display: inline-block;
	background-image: url(../images/button-smudge-white.png);
	background-repeat: repeat;
	background-position: left top;
	background-color: #5d4d43;
	color: #fff;
	font-weight: normal;
	cursor: pointer;
	padding: 11px 18px;
	border: 0px;
	font-size: 18px;
	text-decoration: none;
}

.s-big-button:hover,
.s-big-button:active {
	background-color: #6f5d51;
	text-decoration: none;
	color: #fff;
}

.comment-reply-link,
.s-border-button {
	display: inline-block;
	background-image: url(../images/button-smudge-white.png);
	background-repeat: repeat;
	background-position: left top;
	background-color: transparent;
	box-shadow: inset 0px 0px 0px 2px #6f5d51;
	color: #6f5d51;
	font-weight: bold;
	cursor: pointer;
	padding: 7px 15px;
	border: 0px;
	font-size: 12px;
	text-decoration: none;
}

.comment-reply-link:active,
.comment-reply-link:hover,
.s-border-button:active,
.s-border-button:hover {
	background-color: #6f5d51;
	text-decoration: none;
	box-shadow: none;
	color: #fff;
}

.s-button i,
.comment-reply-link i,
.s-border-button i,
.s-big-button i {
	padding-left: 10px;
}

.wp-caption {
	margin-bottom: 20px;
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.13);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
	max-width: 100%;
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	margin: 0;
	padding: 8px 0;
}

.panel-block ol,
.panel-block ul {
	margin-bottom: 20px;
	line-height: 1.5em;
}

.panel-block ol li,
.panel-block ul li {
	margin-bottom: 5px;
}

.panel-block ol {
	list-style-type: decimal;
	padding-left: 15px;
}

.panel-block ul {
	list-style-type: disc;
}
.panel-block ul.fa-ul {
	list-style: none;
}

.page-break {
	display: block;
	height: 3px;
	background: url(../images/split-line-1.png) repeat-x bottom center;
	width: 100%;
	margin-bottom: 20px;
}

.page-break.style-2 {
	background: rgba(0,0,0,0.13);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.accordion {
	display: block;
	margin-bottom: 20px;
}

.accordion .accordion-tab {
	display: block;
	background: rgba(255,255,255,0.2);
	border: 1px solid rgba(0,0,0,0.13);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin-bottom: 5px;
	position: relative;
	padding: 15px 15px 0 15px;
}

.accordion .accordion-tab.active {
	background: rgba(255,255,255,0.3);
}

.accordion .accordion-tab > a {
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: 'Fauna One', serif;
	font-size: 14px;
	text-decoration: none!important;
	position: relative;
}

.accordion .accordion-tab > a:before {
	display: block;
	content: '';
	position: absolute;
	left: -15px;
	right: -15px;
	top: -15px;
	bottom: -15px;
}

.accordion .accordion-tab > a:after {
	display: block;
	position: absolute;
	content: '\f078';
	font-size: 10px;
	font-family: 'FontAwesome';
	right: 0px;
	top: 0px;
	line-height: 16px;
}

.accordion .accordion-tab.active > a:after {
	content: '\f077';
}

.accordion .accordion-tab .accordion-block {
	display: none;
	background: url(../images/split-line-1.png) repeat-x 0px 0px;
	padding-top: 15px;
}

.accordion .accordion-tab.active .accordion-block {
	display: block;
}

